.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .welcome-container.show {
    opacity: 1;
    pointer-events: auto;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .get-started-button,
  .calculator-button,
  .learning-button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    margin: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .get-started-button {
    background-color: #007bff;
    color: #fff;
  }
  
  .calculator-button {
    background-color: #28a745;
    color: #fff;
  }
  
  .learning-button {
    background-color: #ffc107; 
    color: #000;
  }
  
  .get-started-button:hover,
  .calculator-button:hover,
  .learning-button:hover {
    filter: brightness(90%);
  }
  .fadeInUp {
    animation: fadeInUp 0.5s ease;
  }

  .buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .sticky-nav {
    position: sticky;
    top: 10px;
  }
  
  .sticky-nav .nav-link {
    cursor: pointer;
  }

#navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar {
  background-color: #343a40;
}

.navbar-nav {
  margin: 0 auto;
}

.navbar-nav .nav-item {
  margin: 0 10px;
}

.navbar-nav .nav-link {
  color: #ffffff !important;
  font-size: 1.2rem;
}

.navbar-nav .dropdown-menu {
  background-color: #343a40;
}

.navbar-nav .dropdown-item {
  color: #ffffff ;
}

.navbar-nav .dropdown-item:hover {
  background-color: #495057;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}
