:root {
  --light_grey: #6f747c; 
  --sea: #76ABAE;
  --grey: #31363F; 
  --white: #EEEEEE;
}

body {
  background-color: var(--light_grey) !important;
  color: var(--light_grey) !important;
}

.navbar {
  background-color: var(--grey) !important;
}

.navbar-brand {
  color: var(--white) !important;
}

.navbar-nav .nav-link {
  color: var(--white) !important;
}

.navbar-nav .nav-link:hover {
  background-color: var(--sea) !important;
}

.dropdown-menu {
  background-color: var(--white) !important;
  border: none;
}

.dropdown-menu .dropdown-item {
  color: var(--grey) !important;
}

.dropdown-menu .dropdown-item:hover {
  background-color: var(--sea) !important;
}


.transform-card {
  background-color: var(--white) !important;
  color: var(--grey) !important;
}

.transform-card .btn-primary {
  background-color: var(--sea) !important;
  border: none;
  margin-right: 10px;
}
.welcome-container {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  margin-top: 100px;
}

.welcome-container.show {
  opacity: 1;
}

.transform-card {
  margin: 20px 0;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.transform-card .btn {
  margin: 10px 5px;
}

.transform-card .card-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.transform-card .card-text {
  font-size: 1rem;
  margin-bottom: 20px;
}
.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1000;
}